.image-container {
	position: relative;
	display: inline-block;
	width: 200px; /* Задайте ширину блоку для зображення */
	height: 113px; /* Розмір зображення 641x360 масштабується в 200x113 */
	overflow: hidden;
	margin: 1px; /* Простір між блоками зображень */
}

.zoom-image {
	width: 100%; /* Зробити зображення відповідним розмірам блоку */
	height: auto;
	transition: transform 0.3s ease-in-out;
}

.image-container:hover .zoom-image {
	transform: scale(1.2); /* Збільшення масштабу при наведенні (наприклад, 1.2 збільшення на 20%) */
}
  







/* .inline-img { 
    display: inline-block;
    border-radius: 15px;
    text-align: center;
    transform: scale(0.95);
    transition: .3s;
}
.img-zoom{
	transition: transform 0.3s ease;
}
.inline-img img:hover, .img-zoom {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
*/